{% extends 'default' %}

{% block content_wrapper %}
<article>
  <header>
    <h2 class="uppercase">{{ page.title }}</h2>
  {% if page.subtitle %}
    <h3 class="subtitle">{{ page.subtitle }}</h3>
  {% endif %}
  </header>
  <section class="main_body">
    {{ page.blocks.content|raw }}
  </section>
  <section class="taxonomies">
    <div class="taxonomy">
        <a href="{{site.url }}/posts/tags">Tags</a>:
        {% for tag in page.tags %}
        <a href="{{ site.url }}/posts/tags/{{ tag }}">
            {{ tag }}
        </a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </div>    <div class="taxonomy">
        <a href="{{site.url }}/posts/category">Category</a>:
        {% for category in page.category %}
        <a href="{{ site.url }}/posts/category/{{ category }}">
            {{ category }}
        </a>{% if not loop.last %}, {% endif %}
        {% endfor %}
      </div>
  </section>
  <footer>
    <p class="published_date">Published: {{page.date|date('F j, Y')}}</p>
  </footer>
</article>
{% endblock content_wrapper %}